eflomal
results
Source-data
Testing-MT-models/ParlaMint-SI/ParlaMint-SI.conllu
Testing-MT-models/ParlaMint-SI/Parlamint-SI-bigger-sample-translated.csv
Testing-MT-models/ParlaMint-SI/Slovene-sample-for-manual-analysis-aligned-etranslation.csv
Testing-MT-models/ParlaMint-SI/Slovene-sample-for-manual-analysis-aligned-corrected-SouthSlavicMT.csv
Testing-MT-models/ParlaMint-SI/Parlamint-SI-sentences.csv
Testing-MT-models/ParlaMint-SI/Parlamint-SI-sample-aligned-corrected.csv
parlamint_env
Testing-MT-models/ParlaMint-SI/Parlamint-SI-SlavicMT-sample-corrected.csv
Final-data
slobench_slen.en.txt
slobench_slen.sl/slobench_slen.sl.txt
Testing-MT-models/SloBENCH
Note-translation/Source-data-TEI
discord_key.txt
Note-translation/Final-data-CSV
