/ParlaMint-SI.TEI
/ParlaMint-SI.TEI.ana
/ParlaMint-SI.conllu
/Parlamint-SI-sentences.csv
/ParlaMint-SI/ParlaMint-SI.TEI.ana
/ParlaMint-SI/Parlamint-SI-sentences.csv
/ParlaMint-SI/ParlaMint-SI.conllu
/eflomal
/results/SI
/ParlaMint-CZ/ParlaMint-CZ.conllu
ParlaMint-CZ/ParlaMint-CZ.conllu.zip
results/CZ/ParlaMint-CZ-extracted-source-data.csv
.gitignore
results/CZ/ParlaMint-CZ-sample-model-comparison.csv
.gitignore
results/CZ/ParlaMint-CZ-final-dataframe.csv
.gitignore
results/CZ/ParlaMint-CZ-translated.csv
results/CZ/temp
results/CZ/ParlaMint-CZ-translated.csv
results/CZ/final_translated_conllu
Source-data
Testing-MT-models/ParlaMint-SI/ParlaMint-SI.conllu
Testing-MT-models/ParlaMint-SI/Parlamint-SI-bigger-sample-translated.csv
Testing-MT-models/ParlaMint-SI/Slovene-sample-for-manual-analysis-aligned-etranslation.csv
Testing-MT-models/ParlaMint-SI/Slovene-sample-for-manual-analysis-aligned-corrected-SouthSlavicMT.csv
Testing-MT-models/ParlaMint-SI/Parlamint-SI-sentences.csv
Testing-MT-models/ParlaMint-SI/Parlamint-SI-sample-aligned-corrected.csv
