/ParlaMint-SI.TEI
/ParlaMint-SI.TEI.ana
/ParlaMint-SI.conllu
/Parlamint-SI-sentences.csv
/ParlaMint-SI/ParlaMint-SI.TEI.ana
/ParlaMint-SI/Parlamint-SI-sentences.csv
/ParlaMint-SI/ParlaMint-SI.conllu
/eflomal
/results/SI
/ParlaMint-CZ/ParlaMint-CZ.conllu
ParlaMint-CZ/ParlaMint-CZ.conllu.zip
results/CZ/ParlaMint-CZ-extracted-source-data.csv
.gitignore
results/CZ/ParlaMint-CZ-sample-model-comparison.csv
.gitignore
results/CZ/ParlaMint-CZ-final-dataframe.csv
.gitignore
results/CZ/ParlaMint-CZ-translated.csv
results/CZ/temp
results/CZ/ParlaMint-CZ-translated.csv
